.col-sm-12
  br
  br
  form(role='form',action="/addbed",method="post")
    h4 Please add a Bed Name
    .form-group
    input.form-control(type='text', name="bname", placeholder='Bed name')
    br
    button.btn.btn-info(type='submit') Add Bed
