.col-sm-12.col-lg-12.col-xs-12.main
  .col-sm-12.col-lg-12.col-xs-12.tab
    ul.nav.nav-pills.ivsetpills
      li
        a.list(data-toggle='pill', data-url='/listbed') View
      li.active
        a.add(data-toggle='pill', data-url='/addbed') Add 
  .col-sm-12.col-lg-12.col-xs-12.cnt
      .bedadd
          form(role='form' id='register')
            h4 Add Bed Name
            div.addbed
              .form-group
              .col-sm-11.col-xs-11.col-lg-11.null
                input.form-control.bname(type='text', name="bname", placeholder='Bed name' required)
                br    
            button.btn.btn-info(id="add_bed",type="button") Add More Bed
            br
            button.btn.btn-success(id='submit_bed' type='submit') Submit
      .bedtoadd(style="display:none")
          .col-sm-11.col-xs-11.col-lg-11.null.bname
            input.form-control.bname(type='text', name="bname", placeholder='Bed name')
           br
          .col-sm-1.col-xs-1.col-lg-11.remove.p
            span.glyphicon.glyphicon-remove 
script(src='/js/addbed.js')
