.col-sm-12
  br
  br
  form(role='form',action="/adddevice",method="post")
    h4 Add Device
    .form-group
    input.form-control(type='text', name="divid", placeholder='Device #ID')
    br
    button.btn.btn-info(type='submit') Add Device
