.col-xs-12.hidden-sm.hidden-md.hidden-lg &nbsp 
.col-xs-12.hidden-sm.hidden-md.hidden-lg &nbsp 
.col-sm-12.col-lg-12.col-md-12.col-xs-12.main
  .col-sm-12.col-lg-12.col-md-12.col-xs-12.tab
    ul.nav.nav-pills.ivsetpills
      li
        a.list(data-toggle='pill', data-url='/listivset') View
      li.active
        a.add(data-toggle='pill', data-url='/addivset') Add 
  .col-sm-12.col-lg-12.col-md-12.col-xs-11.cnt
    form(role='form',action="/addivset",method="post")
      h4 Add IV set
      h5  IV set Name
      .form-group
      input.form-control(type='text', name="ivname", placeholder='IV set' required)
      br
      h5  IV set Dropfactor
      .form-group
      input.form-control(type='number', name="ivdpf", placeholder='IV Drop Factor' data-validation='number' required )
      br
      button.btn.btn-success(type='submit') Submit


 
