each networks in network 
  a.wifiname(data-url='/addwifi?wifiname=#{networks.ssid}') #{networks.ssid}
  br
div.icon(data-url="/adddevice")
  div.btn.btn-primary Scan Device
iframe(height='0px', width='0px', name='iframe_a')
p
  a.btn.btn-success(href='http://192.168.4.1/wifisave?s=EVELABS_TECH&p=BQQJUDWB&server=192.168.0.13', target='iframe_a') Connect
