.col-xs-12.hidden-sm.hidden-md.hidden-lg &nbsp 
.col-xs-12.hidden-sm.hidden-md.hidden-lg &nbsp 
.col-sm-12.col-lg-12.col-md-12.col-xs-12.main
  .col-sm-12.col-lg-12.col-md-12.col-xs-12.tab
  .col-sm-12.col-lg-12.col-md-12.col-xs-11.cnt
    each ivset in ivsets
      form(role='form',action="/editivset",method="post")
        h4 Edit IV set
        h5  IV set Name
        .form-group
        input.form-control(type='text', name="ivname", placeholder='IV set' value='#{ivset.ivname}' required)
        br
        h5  IV set Dropfactor
        .form-group
        input.form-control(type='number', name="ivdpf", placeholder='IV Drop Factor' value='#{ivset.ivdpf}'  data-validation='number'   required )
        .form-group
        input.form-control(type='hidden', name="ivid", value='#{ivset._id}' required)
        br
        button.btn.btn-info(type='submit') Edit IV-Set

