.col-sm-12.col-lg-12.col-xs-12.main
	.col-sm-12.col-lg-12.col-xs-12.tab      
	.col-sm-12.col-lg-12.col-xs-12.cnt
		each device in devices
			form(role='form',action="/editdevice",method="post")
				adddevice.h4 Edit Device
				.form-group
				input.form-control(type='text', name="divid", placeholder='Device #ID' value='#{device.divid}' required)
				input.form-control(type='hidden', name="id", value='#{device._id}' required)
				br
				button.btn.btn-info(type='submit') Edit Device