doctype html
html
  head
    link(rel='shortcut icon', href='/img/siteic.ico')
    title Dripo Care
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
      .col-sm-12.col-lg-12.col-xs-12
      .col-sm-12.col-lg-12.col-xs-12.container.test
        .col-sm-6.reg2
          h3 There is an existing user registered with this mail id
          br.hidden-xs
          div
            .col-sm-6.col-xs-6.col-lg-6.loginbtn      
                a.btn.btn-primary.col-sm-12.hidden-col-xs-12.col-lg-12(href='/forgot') Forgot Password? 
            .col-sm-6.col-xs-6.col-lg-6.loginbtn      
                a.btn.btn-success.col-sm-12.col-xs-12.col-lg-12(href='/login') Ok
            &nbsp;


