doctype html
html
  head
    link(rel='shortcut icon', href='/img/siteic.ico')
    title Dripo Care
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
       .col-sm-12.col-xs-12.col-md-4.col-lg-10
       .col-sm-12.col-xs-12.col-lg-12.test
        .col-sm-8.reg1
          h2 Forgot Password
          p.lead Enter Your Registered Mail ID
          br.hidden-xs
          form(role='form', action="/forgot",method="post")
            .form-group
                input.form-control.col-sm-12(type='text', name="username", placeholder='Enter email' required)
                br.hidden-xs
                br.hidden-xs
                br.hidden-xs
            .col-sm-6.col-lg-6.col-xs-6.loginbtn
                a.btn.btn-primary.col-sm-12.col-lg-12.col-xs-12(href='/login') Cancel      
            .col-sm-6.col-lg-6.col-xs-6.loginbtn
                button.btn.btn-success.col-sm-12.col-lg-12.col-xs-12(type='submit') Request       
            &nbsp;


