doctype html
html
  head
    title Dripo Care
    link(rel='shortcut icon', href='/img/siteic.ico')
    meta(name='viewport', content='width=device-width, initial-scale=1.0,user-scalable=no')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
            include leftbar
            .col-sm-11.middlebar(id="middlebar")  
            .col-sm-12 &nbsp
script(src='/js/socket.io.js')
script(src='/js/jquery.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/site.js')
script(src='/js/bootstrap-notify/bootstrap-notify.js')
script(src='/js/notification.js')
script(src='/js/buttonalert.js')



