.col-sm-1.leftbar
      div.iconmain
        span.glyphicon.glyphicon-menu-hamburger
      div.icon(data-url="/home")
        span.btn.btn-primary.glyphicon.glyphicon-home
        div.btn.btn-success Home
      div.icon(data-url="/addpatient")
        span.btn.btn-primary.glyphicon.glyphicon-user
        div.btn.btn-success Add Patient
      div.icon(data-url="/addbed")
        span.btn.btn-primary.glyphicon.glyphicon-bed
        div.btn.btn-success Add Bed
      div.icon(data-url="/adddevice")
        span.btn.btn-primary.glyphicon.glyphicon-phone
        div.btn.btn-success Add Device
      div.icon(data-url="/addivset")
        span.btn.btn-primary.glyphicon.glyphicon-tint
        div.btn.btn-success Add IV set
      br
      br
      a.btn.btn-danger(href='/logout') 
        span.glyphicon.glyphicon-off 



