.col-sm-1.leftbar
	div.iconmain
		span.glyphicon.glyphicon-menu-hamburger
	div.icon.active.col-sm-12(data-url="/home")
		div.col-sm-12.ic
			span.glyphicon.glyphicon-menu-hamburger
		div.cntin.trint home

