.col-sm-1.leftbar
      div.iconmain
        span.glyphicon.glyphicon-menu-hamburger
      div.icon.active(data-url="/home")
        span.glyphicon.glyphicon-home
        div.a Home
      div.icon(data-url="/addpatient")
        span.glyphicon.glyphicon-user
        div.a Add Patient
      div.icon(data-url="/addbed")
        span.glyphicon.glyphicon-bed
        div.a Add Bed
      div.icon(data-url="/adddevice")
        span.glyphicon.glyphicon-phone
        div.a Add Device
      div.icon(data-url="/addivset")
        span.glyphicon.glyphicon-tint
        div.a Add IV set
      br
      br
      a.btn.btn-danger(href='/logout') 
        span.glyphicon.glyphicon-off 



