.col-lg-1.col-sm-1.col-md-1.hidden-xs.leftbar
	div.iconmain
		span.glyphicon.glyphicon-menu-hamburger
	div.icon.activem.col-sm-12(data-url="/home")
		div.col-sm-12.ic
			span.glyphicon.glyphicon-home
		div.cntin.trint.aj Home
	div.icon.col-sm-12.addpat(data-url="/addpatient")
		div.col-sm-12.ic
			span.glyphicon.glyphicon-user
		div.cntin.trint.aj Add Patient
	div.icon.col-sm-12(data-url="/addbed")
		div.col-sm-12.ic
			span.glyphicon.glyphicon-bed
		div.cntin.trint.aj Add Bed
	div.icon.col-sm-12(data-url="/adddevice")
		div.col-sm-12.ic
			span.glyphicon.glyphicon-phone
		div.cntin.trint.aj Add Device
	div.icon.col-sm-12(data-url="/addivset")
		div.col-sm-12.ic
			span.glyphicon.glyphicon-tint
		div.cntin.trint.aj Add IVSet
	a.btn.btn-danger.glyphicon.glyphicon-off(href='/logout')

//- nav.navbar.navbar-inverse.navbar-default.hidden-sm.hidden-md.hidden-lg(style="margin:0px")
nav.navbar.navbar-fixed-top.navbar-inverse.hidden-sm.hidden-md.hidden-lg(style="margin:0px")(role='navigation')
	.container
		.navbar-header
			button.navbar-toggle.navbtn(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
				span.sr-only Toggle navigation            
				span.icon-bar           
				span.icon-bar 
				span.icon-bar
			a.navbar-brand(href='#') Dripo Care
		.collapse.navbar-collapse#navbar(aria-expanded='true')
			ul.nav.navbar-nav.navbar-right
				li.active.iconm(data-url="/home")
					a(href="#") Home
				li.iconm(data-url="/addpatient")
					a(href="#") Additpatient
				li.iconm(data-url="/addbed")
					a(href="#") Addbed
				li.iconm(data-url="/adddevice")
					a(href="#") Adddevice
				li.iconm(data-url="/addivset")
					a(href="#") Addivset
