div.col-sm-12.col-lg-12.col-xs-12.main
	.col-sm-12.col-lg-12.col-xs-12.tab
		ul.nav.nav-pills.ivsetpills
			li.active
				a.list(data-toggle='pill', data-url='/listivset') View
			li
				a.add(data-toggle='pill', data-url='/addivset') Add 
	.col-sm-12.col-lg-12.col-xs-12.cnt
		each ivset in ivsets
			div.col-sm-12.col-xs-12.list-ivset
				div.col-sm-5.col-xs-4.iv1
					h4 #{ivset.ivname}
				div.col-sm-5.col-xs-4.iv2
					h4 #{ivset.ivdpf}
				.col-sm-1.col-xs-2.x1.btn-default.glyphicon.glyphicon-pencil.editivset(data-url='/editivset?ivset=#{ivset._id}')  
				.col-sm-1.col-xs-2.x2.btn-default.glyphicon.glyphicon-remove
				
