.col-xs-12.hidden-sm.hidden-md.hidden-lg &nbsp 
.col-xs-12.hidden-sm.hidden-md.hidden-lg &nbsp 
div.col-sm-12.col-lg-12.col-md12.col-xs-12.main
	.col-sm-12.col-lg-12.col-md12.col-xs-12.tab
		ul.nav.nav-pills.ivsetpills
			li.active
				a.list(data-toggle='pill', data-url='/listdevice') View
			li
				a.add(data-toggle='pill', data-url='/adddevice') Add    
	.col-sm-12.col-lg-12.col-md12.col-xs-12.cnt
		each device in devices
			div.bedlistandbedcnfrm 
				div.col-sm-12.col-md12.col-xs-11.col-lg-12.list-device.devicelist
					.col-sm-10.col-lg-10.col-md-10.col.col-xs-8.d1
						h4 #{device.divid}
					.col-sm-1.col-md-1.col-lg-1.col-xs-2.m1.btn-default.editdevice(data-url='/editdevice?device=#{device._id}')  
						h4.glyphicon.glyphicon-pencil
					.col-sm-1.col-md-1.col-lg-1.col-xs-2.m2.btn-default.removedevice
						h4.glyphicon.glyphicon-remove
				div.col-sm-12.col-md-12.col-lg-12.col-xs-11.delete-device.deleteconfirmationdropdown.displaydis
					div.col-md-6.col-lg-6.hidden-xs.hidden-sm
						h4 Deleting a Device will permanently remove it from your database
					div.col-xs-12.col-sm-4.hidden-md.hidden-lg
						h4 Delete Device?
					div.col-md-3.col-sm-4.col-lg-3.col-xs-6.hidden-xs.keepdevicedetails(style="padding-top:2px")
						button.btn.btn-success(type="button") No,Keep Device 
					div.col-md-3.col-sm-4.col-lg-3.col-xs-6.hidden-xs(style="padding-top:2px")
						button.btn.btn-danger.deletedeviceconfirmbtn(type='submit' data-url='/deletedevice?device=#{device._id}') Yes,Remove Device
					div.col-xs-6.hidden-md.hidden-sm.hidden-lg.keepdevicedetails(style="padding-bottom:2px")
						button.btn.btn-success(type="button") Cancel
					div.col-xs-6.hidden-md.hidden-sm.hidden-lg(style="padding-bottom:2px")
						button.btn.btn-danger.deletedeviceconfirmbtn(type='submit' data-url='/deletedevice?device=#{device._id}') 	Delete

script(src='/js/listdevice.js')

