div.col-sm-12.main
	.col-sm-12.tab
		ul.nav.nav-pills.ivsetpills
			li.active
				a.list(data-toggle='pill', data-url='/listpatient') View
			li
				a.add(data-toggle='pill', data-url='/addpatient') Add 
	.col-sm-12.cnt
		each patient in patients 
			div.col-sm-12.col-xs-12.list-patient
				div.col-sm-3.col-xs-4.n1
					h4 #{patient.name}
				div.col-sm-4.col-xs-3.a1
					h4 #{patient.age}
				div.col-sm-3.col-xs-3.w1
					h4 #{patient.weight}
				div.col-sm-1.col-xs-1.l1.btn-default.glyphicon.glyphicon-pencil.editpatient(data-url='/editpatient?bed=#{patient._bed}')		
				div.col-sm-1.col-xs-1.i2.btn-default.glyphicon.glyphicon-remove


