div.col-sm-12.main
	.col-sm-12.tab
		ul.nav.nav-tabs.ivsetpills
			li.active
				a.list(data-toggle='pill', data-url='/listivset') View
			li
				a.add(data-toggle='pill', data-url='/addivset') Add 
	.col-sm-12.cnt
		each ivset in ivsets
			div.col-sm-6
				h4 #{ivset.ivname}
			div.col-sm-6
				h4 #{ivset.ivdpf}