doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1,user-scalable=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='/img/siteic.ico')
    title Dripo Care
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/stylesheets/grayscale.css', rel='stylesheet')
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  body
    .tile.row
      .col-sm-2.col-xs-12.col-md-4.col-lg-7.pt2.hidden-xs.hidden-sm
        img(src='/img/logo.png')
        h1#dc Dripo Care
      .col-xs-1.hidden-sm.hidden-md.hidden-lg
      .col-sm-2.hidden-xs.hidden-md.hidden-lg
      .col-sm-8.col-md-8.col-lg-5.col-xs-12.pt3
        .login-box
            form(action='/login', method='POST')
              .form-group
                label(for='exampleInputEmail1') User Name  
                input#exampleInputEmail1.form-control(type='text', name='username', placeholder='User Name' data-validation="email" required)
              .form-group
                label(for='exampleInputPassword1') Password 
                input#exampleInputPassword1.form-control(type='password', name='password', placeholder='Password' required)  
              .col-sm-6.col-md-6.col-lg-6.col-xs-6.loginbtn
                button.btn.btn-success.col-sm-12.col-lg-12(type='submit') Demo Login
              .col-sm-6.col-md-6.col-lg-6.col.xs-6.loginbtn
                a.btn.btn-primary.col-sm-12.col-lg-12(href='/register') Register
              span Username:dripocare@gmail.com Password:dripo123
              br
              a(href='/forgot') Forgot Password?
            p#clock.hidden-sm.hidden-xs
      .col-xs-1.hidden-sm.hidden-md.hidden-lg
script(src='/javascripts/clock.js')
script(src='/js/jquery.min.js')
//- script.
//-   if (window.location.protocol != "https:") {
//-      window.location.protocol = "https:";
//-   }

