doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='/img/siteic.ico')
    title Dripo Care
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(href='/stylesheets/grayscale.css', rel='stylesheet')
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
  body
    .tile.row
      .col-sm-8.pt2
        img(src='/img/logo.png')
        h1#dc Dripo Care
      .col-sm-4.pt3
        .login-box
            form(action='/login', method='POST')
              .form-group
                label(for='exampleInputEmail1') User Name  
                input#exampleInputEmail1.form-control(type='text', name='username', placeholder='User Name' data-validation="email" required)
              .form-group
                label(for='exampleInputPassword1') Password 
                input#exampleInputPassword1.form-control(type='password', name='password', placeholder='Password' required)  
              .col-sm-6
                button.btn.btn-success.col-sm-12(type='submit') Demo Login
              .col-sm-6
                a.btn.btn-primary.col-sm-12(href='/register') Register
              span Username:dripocare Password:password
              br
              a(href='/forgot') Forgot Password?
            p#clock
            script(src='/javascripts/clock.js')
           
