doctype html
html
  head
    link(rel='shortcut icon', href='/img/siteic.ico')
    title Dripo Care
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
      .col-sm-12.col-lg-12.col-xs-12
      .col-sm-12.col-lg-12.col-xs-12.container.test
        .col-sm-6.reg1
          h1 Reset Password
          p.lead Enter New Password
          br.hidden-xs
          form(role='form', action="/passwordreset",method="post")
            .form-group
                input.form-control(type='hidden', name="username",  value='#{user}')
                input.form-control(type='hidden', name="hname",  value='#{hospital}')
                input.form-control.col-sm-12(type='password', name="password_confirmation", placeholder='Enter New Password' data-validation='strength' data-validation-strength="2" required)
                br.hidden-xs
                br.hidden-xs
            .form-group
                input.form-control.col-sm-12(type='password', name="password", placeholder='Re-Enter Password' data-validation='confirmation' required)
                br.hidden-xs
                br.hidden-xs
            .col-sm-6.col-lg-6.col-xs-6.loginbtn
                a.btn.btn-primary.col-sm-12.col-xs-12.col-lg-12(href='/login') Cancel      
            .col-sm-6.col-lg-6.col-xs-6.loginbtn
                button.btn.btn-success.col-sm-12.col-xs-12.col-lg-12(type='submit') Change       
            &nbsp;
script(src='/js/jquery.min.js')
script(src='/js/site.js')
//script(src='/js/jQuery-Form-Validator/form-validator/jquery.form-validator.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js')
           



