doctype html
html
  head
    link(rel='shortcut icon', href='/img/siteic.ico')
    title Dripo Care
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
      .col-sm-12.col-xs-12.col-md-4.col-lg-10
      .col-sm-12.col-xs-12.col-lg-12.test
        .col-sm-6.reg2
          h1 Dripo
          p.lead Register
          br
          form(role='form', action="/register",method="post")
            .form-group
                input.form-control.col-sm-12(type='text', name="hname", placeholder='Enter Hospital Name' required)
                br.hidden-xs
                br.hidden-xs
            .form-group
                input.form-control.col-sm-12(type='text', name="username", placeholder='Enter email',data-validation='email' data-validation-error-msg='Please enter a valid E-mail' required)
                br.hidden-xs
                br.hidden-xs
            .form-group
                input.form-control.col-sm-12(type='password', name="password_confirmation", placeholder='Password' data-validation='strength' data-validation-strength="2" required)
                br.hidden-xs
                br.hidden-xs
            .form-group
                input.form-control.col-sm-12(type='password', name="password", placeholder='Re-enter Password' data-validation='confirmation' required)
                br.hidden-xs
                br.hidden-xs
            .col-sm-6.col-xs-6.col-lg-6.loginbtn     
                button.btn.btn-success.col-sm-12.col-lg-12.col-xs-12(type='submit') Register
           .col-sm-6.col-xs-6.col-lg-6.loginbtn      
                a.btn.btn-primary.col-sm-12.col-lg-12.col-xs-12(href='/login') Cancel
script(src='/js/jquery.min.js')
//-script(src='/js/jQuery-Form-Validator/form-validator/jquery.form-validator.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js')
script(src='/js/regvalidator.js')
           
            
