.col-sm-2.rightbar
  p MANAGE
  
  a(href="/addpatient")
    div.icon
      span.glyphicon.glyphicon-user-add
      p Patients
  a(href="/addbed")    
    div.icon
      span.glyphicon.glyphicon-hdd
      p Bed
  a(href="/adddripset")    
    div.icon
      span.glyphicon.glyphicon-plus
      p Drip Set
  a(href="/adddripo")    
    div.icon
      span.glyphicon.glyphicon-disk
      p Dripo
