
body {
    width: 100%;
    height: 100%;
   font-family:Raleway;
    color: #000;
    background-color: #FFF;
    letter-spacing: .1em;
    font-size:14px;
    margin: 0px;
}
html {
    width: 100%;
    height: 100%;
}
.tile{
    height: 100%;
    background: #2D829A;
    color: #FFFFFF;
    display: flex;
    align-items: center;
       background-color: none;
    /*background-image: url("../img/1.png");*/
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    /*background-position: center;*/
}
#clock{
    color:#EFEFEF;
    font-size: 3em;
    margin-top:.5em;
    line-height: 1.2em;
    margin-bottom: 0;
    text-align: center;
    background-color: #3D4040;
    padding:.7em;
    overflow: hidden;

}
#clock span{
    font-size: .6em;
    line-height: .2em;
}
.login-box{
    background-color: #FFFFFF;
    color: #000;
    padding: 0;
    border-radius: .5em .5em .5em .5em;
    overflow: hidden;

}
.login-box form{
    padding:2em;
}
.login-box form span{
    font-size: 70%;
    padding-left: 1em;
    color:gray;
}

.pt2 img{
    text-align: center;
    padding-right: 1em;
    width: 10%;
}
#dc{
/*        margin: 20px;
*/        font-size: 4em;
/*        margin-bottom: .5em;
*/}
.pt2 {
text-align: center;
padding-bottom: 100px;
padding-right: 20px;
}
.pt3{
    padding: 0px;
    padding-bottom: 2em;
}
.loginbtn{
  justify-content:center;
display:flex;
align-items:center;

}
.p.lead{

margin-bottom:0px;
}



