@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

html,body{
  height:100%;
  overflow:hidden;
 
}
body{
 background:#EEEEEE;
}
.leftbar{
height:100%;
color:#FCFCFC;
text-align:center;
padding:0px;
background:#263238;
transition:all 1s;
overflow:hidden;
font-size:25px;
}

.leftbar .iconmain{
background:#111111;
height:50px;
padding-top:10px;
margin-bottom:30px;
}

.leftbar .iconmain .cnt{
text-align:center;
line-height:50px;

}
.leftbar .icon{
overflow:hidden;
height:10%;
}
.leftbar .icon .cntin{
transition:all 2s;
position:relative;
text-align:center;
font-size:60%;
line-height:100%;
height:100%;
}

.aj{
  top:40%;
}
.trint{
transform: translate(150%,0%);
}

.trcollapse{
transform: translate(0%,0%)
}

.leftbar .icon .ic{
display:flex;
align-items:center;
justify-content:center;
transition:all 1s;
height:100%;
line-height:100%;
font-size:100%;
transform:scale(.7);
}

.middlebar{
overflow-y:scroll;
overflow-x:hidden;
padding:0px;
height:100%;
transition:all 1s;
background: #FFFFFF;
}

.middlebar .card{
border-radius:10px;
background-color:#FFFFFF;
border:1px solid #CCCCCC;
margin-bottom:1em;
padding:0px;
overflow:hidden;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}




.middlebar .card {
text-align:right;
}
.bed{
  color:white;
  background-color: #2A3F52;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.bed h2,.bed h4{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width:100%;
}

.bedadd h4{
 padding-top:10px;
 border-top:0px;
 
}

.adddevice h4{
 padding-top:10px;
 border-top:0px;
 
}
.bedadd{

 height:100%;
 width:100%;
}


.middlebar .span{
border-radius:.1em;
border:1px solid #CCCCCC;
}


.middlebar .card .cardname{
padding:10px;
padding-left:3em;
}


.middlebar .card .schhold .cnt{
border:none;
background:#263238;
color:#FFFFFF;
}

.medication{
  padding:0px;
  border radius:2px solid #fcfcfc;
}
.medicines{
text-align:center;
background:white;

}
/* edit patient extra styling */

.medicinedata{
    border: 1px solid #cccccc;
    margin-top: 0px;
    
}
.main{
    padding: 3px;
    margin: 15px;
}
    
.medicine span{
  color:black;
}

.medicines p{
margin:.5em;
font-weight:bolder;
border-right:1px solid #AAAAAA;
}

.selectstation{
  text-align: center;
  background: white;
  border-radius: .3em;
  box-shadow: 0px 0px 5px #CCCCCC;
  padding:3em;
  padding-bottom: 4em;
  padding-top: 0;
  float: none;
  margin:auto;
}
.test{
   position: relative;
  top: 50%;
  transform: translateY(-50%)
}
.reg{
  text-align: center;
  background: white;
  border-radius: .3em;
  box-shadow: 0px 0px 5px #CCCCCC;
  padding-bottom: 4em;
  padding:10%;
  margin:0;
  float: none;
  margin:auto;
}

.infusion{
  padding-right: 0px;
}
.infusion h4,.infusion h2{
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width:100%;
}
.infc{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.medicines{
  padding-top: 10px;
  padding-bottom: 10px;

}
.medname{
  background-color: #F0F3F3;
  border-top-left-radius: 3em;
  border-bottom-left-radius: 3em;
  padding:0px;
  padding-left: .2em;
}

.stats{
  background-color: #2A3F52;
  float: left;
  width:23px;
  height: 10%;
  border-radius: 100%;
}
.schhold{
  padding: 0px;
}

.medicinehold{
  margin-top: .3em;
  padding: 0px;
  background:#F0F3F3;
      border-radius: 4px 0px 0px 4px;
    overflow: hidden;
    border-left:5px solid #2A3F52;
     flex-wrap: wrap;
}

.percent{
  padding:0px;
  font-size: 80%;
  display: flex;
  background: #2A3F52;
  color: #FFF;
  justify-content: center;
  align-items: center;
}
.ack-btn{
  display: flex;
   justify-content: center;
  align-items: center;
}

@keyframes alert {
    0%   {background-color:#dfdfdf;color:#000000;}
    50%  {background-color:#d9534f;color:#FFFFFF;}
    100% {background-color:#dfdfdf;color:#000000;}
}

.backgroundRed{
   animation-name: alert;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;

}


.acknowledge{
  background-color: #dfdfdf;
  padding-top: 3px;
  padding-bottom: 3px;
}
.acknowledge p{
  border:none;

}
.details{
    background-color: #dfdfdf;
    border-right:0px;
    padding: 0px;
    font-size:120%;

}
.details p{
  border-right:0px;

}
.infused{
  background-color: #d9534f;
}
.not_infused{
  background-color: #21B698;

}
.infusing{
  background-color: #F2E40A;
}

/* style for patient edit form */

.form-control{
display: flex;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin:0px;
}
    
/* add bed form style */

.form-control.bname{
padding:5px;
margin-left:0px;
margin-bottom:10px;
}



.medname{
display:flex;
    justify-content: center;
    align-items: center;
}

/* style for medication */

.time{
  font-size: 60%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:bolder;
 color:#FFFFFF;
/*    background-color: #21B698;
*/  margin-left:.5%;
border-radius:5px solid #fcfcfc;
  
}

.medicinedata{
 border-radius:1px solid black;
 display:flex;
 padding:0px;
}

/* patient edit page glyphicon and button */

  .remove{
justify-content:center;
display:flex;
align-items:center;
padding:4%;
border:none;
border:1px #CCCCCC solid;

}

.btn{
display: inline;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    margin-top:10px;
    background-color:#21B698;
}

.del {
 background-color: #FFFFFF;
 padding:0px;
 border-left:1px solid #CCCCCC;
}
.del span{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
   align-items: center;
   color:#2A3F52;
}

.del span:first-child{
  border-bottom: 1px solid #CCCCCC;

}
.msg{
  text-align: center;
  transition: all 1s;
  width:100%;
  position: relative;
  height:0;
  top:-100%;
  overflow: hidden;
  background-color: #F0F3F3;
  color:#e71f63;
}
.msg div,.msg h4{
height: 0px;
overflow: visible;
position: relative;
top:31%;
font-weight: bold;
padding-top: 0px;
padding-bottom: 0px;
margin: 0px;
}

.msg div button{
  width:100%;
  font-weight: bold;
}
.holder{
  transition: all 1s;
  height: 100%;
  background-color: #FFFFFF;
  z-index:10;
  position: relative;
  top:0%;
}


.addposcn{
  position: relative;
  top:100%;
  transition: all 1s;
}

.addposmodal{
position: relative;
top:-100%;
height:100%;
transition: all 1s;
}

.ivsetpills {
  float: right;
    width: 100%;
    padding-right: 4%;
}

.main{
  padding:0px;
}
.tab{
  background: #fffdfd;
  padding:0;
  padding-top: 1%;
}

.cnt{
  padding: 3%;
}
.ivsetpills li{
  float: right;
}
.progressbar{
  padding: 0px;
    background: #2A3F52;
    border-right: 1px solid #aaa;

}
.displayen{
  display: block;
}
.displaydis{
  display: none;
}
/* list bed */

.list-bed{
background:#ffffff;
border: 1px solid #CCCCCC;
margin-top:1em;
display:flex;
align-items:center;
padding:0px;

}
.b1{
font-size:20px;
text-align:center;
border-right:1px solid #CCCCCC;
background-color:#f3f3f3;
}

.i1{
justify-content:center;
display:flex;
align-items:center;
border-right:1px solid #CCCCCC;
height:100%;
line-height:20px;
padding:9px;
}

.i2{
justify-content:center;
display:flex;
align-items:center;
text-align:center;
line-height:20px;
line-height:20px;
padding:9px;
}    

/* list patient */

.list-patient{
background:#ffffff;
border: 1px solid #CCCCCC;
margin-top:1em;
display:flex;
align-items:center;
padding:0px;
}    
.n1{
font-size:20px;
text-align:center;
border-right:1px solid #CCCCCC;
background-color:#f3f3f3;
}
.a1{
font-size:20px;
text-align:center;
border-right:1px solid #CCCCCC;
background-color:#ffffff;
}
.w1{
font-size:20px;
text-align:center;
border-right:1px solid #CCCCCC;
background-color:#f3f3f3;

}
.l1{
justify-content:center;
display:flex;
align-items:center;
border-right:1px solid #CCCCCC;
height:100%;
line-height:20px;
padding:9px;
}
.l2{
justify-content:center;
display:flex;
align-items:center;
text-align:center;
line-height:20px;
line-height:20px;
}

/* list device */

.list-device{
background:#ffffff;
border: 1px solid #CCCCCC;
margin-top:1em;
display:flex;
align-items:center;
padding:0px;
}
.d1{
font-size:20px;
text-align:center;
border-right:1px solid #CCCCCC;
background-color:#f3f3f3;
}
.m1{
justify-content:center;
display:flex;
align-items:center;
border-right:1px solid #CCCCCC;
height:100%;
line-height:20px;
padding:9px;
}
.m2{
justify-content:center;
display:flex;
align-items:center;
text-align:center;
line-height:20px;
line-height:20px;
padding:9px;

}

/* list ivset */

.list-ivset{
background:#ffffff;
border: 1px solid #CCCCCC;
margin-top:1em;
display:flex;
align-items:center;
padding:0px;
}
.iv1{
font-size:20px;
text-align:center;
border-right:1px solid #CCCCCC;
background-color:#f3f3f3;
}
.iv2{
font-size:20px;
text-align:center;
border-right:1px solid #CCCCCC;
background-color:#ffffff;
}
.x1{
justify-content:center;
display:flex;
align-items:center;
border-right:1px solid #CCCCCC;
height:100%;
line-height:20px;
padding:9px;
}
.x2{
justify-content:center;
display:flex;
align-items:center;
text-align:center;
line-height:20px;
line-height:20px;
padding:9px;

}

/* medicination styleing */

.pull{
padding-top:15px;
padding-bottom:15px;
}

.timid{
padding-top:10px;
padding-bottom:10px;
margin:0px;
}

.timedata div{
border: 1px solid #ffffff;
padding:0px;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.deftime{
background:#eee;
}

.select{
  background-color:#21B698;
  color:#21B698;
}

/* style for add and submit btn */

.btn.btn-info{
    color: #fff;
    background-color: #21B698;
  
}

.btn.btn-success{
   color: #fff;
    background-color: #21B698;
    
}

/* style for add bed */

.null{
 padding-left:0px;
 padding-right:0px;
 padding-bottom:0px;
 padding-top:0px;
}



/* style for add device */

.qv{
 padding-left:0px;
 padding-right:0px;
}


::-webkit-scrollbar {
    width:2px;
}
::-webkit-scrollbar-track {
    background-color: #CCCCCC;
}
::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
   .p{
 border:1px solid #cccccc;
 padding:0px;
 margin:0px;
     margin-top: 0px;
    max-width: 24%;
    height: 40px;
   
}
.loginbtn{
  justify-content:center;
display:flex;
align-items:center;
}

@media only screen and (max-width:767px) {
  .row-eq-height{
        display: inline-block;
}
 
 .medicineholder{
    border-radius: 1px solid black;
    padding:0px;
    display:flex;
} 
  
  .remove{
justify-content:center;
display:flex;
align-items:center;
padding:4%;
border:none;
border:1px #CCCCCC solid;

}
   
   .p{
 border:1px solid #cccccc;
 padding:0px;
 margin:0px;
     margin-top: 0px;
    max-width: 24%;
    height: 40px;
   
}

.p1{
 border:1px solid #cccccc;

}


  .medicinehold{
    border-radius: 1px solid black;
    padding:0px;

  }
  .time{
  margin-top:1px;
  padding:0px;s
  }
  .infusion{
  display:inline-block;
  }
  .del{
  border:none;
  border-top:1px solid #CCCCCC;
  margin-top:10px;
  }
  .del span{
  font-size:100%;
  padding:3%;
  }
}
.activem{
  background-color: #21B698;
}
.occupied{
  disabled:disabled;
}
.middlebar{
  overflow: show;
}
.body{
  overflow: scroll;
}